body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr auto;
}

.shelfsContainer {
    background-color: #fff;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}

.shelfs {
    display: grid;
    grid-auto-flow: row;
}

.shelf {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: row;
    grid-gap: 1rem;
    border-bottom: 1px #ecf0f1 solid;
    padding: 1rem;
}

.shelf .items {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;

    /* These props might have to be changed
    justify-content: normal;
    align-content: normal; */
}

.shelf img {
    max-width: 250px;
    max-height: 250px;
}

.shelf.library {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-left: 1px #ecf0f1 solid;
    width: 400px;
}

.shelf.library .header {
    position: fixed;
    top: 0;
}

.library.shelf .draggable-item {
    width: 6rem !important;
    height: 7rem !important;
    resize: none !important;
}

.shelf .draggable-item {
    height: 100%;
}

.draggable-item {
    display: grid;
    grid-template-rows: 25px auto 40px;
    grid-gap: 5px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 4px;
    /* margin: 5px; */
    padding: 5px;
    border: 1px solid #d97815;
    background: #ff9933;
    color: #fff;
    text-shadow: 0 1px 1px #ac4e00;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.7);
    text-align: center;

    flex: 1 0 20%;

    resize: horizontal;
    overflow: auto;
    min-width: 4rem;
    max-width: 20rem;
}

.draggable-item:hover {
    cursor: move;
}

.draggable-item.empty {
    background-color: #fff;
}

/*Style the header of the draggable items to allow single line only, hide the br elements*/
.draggable-item .title {
    white-space: nowrap;
    overflow: hidden;
    display: inline;
}

.draggable-item .title br {
    display: none;

}

.draggable-item .title * {
    display: inline;
    white-space: nowrap;
}

.draggable-item.empty .title {
    color: #ff9933
}

/*the empty item in the library should not be removable*/
.shelf.library .draggable-item.empty button.close {
    display: none;
}

.shelf .draggable-item.empty .item-image-btn,
.shelf.library .draggable-item .item-image-btn {
    display: none;
}

.shelf .draggable-item.empty .item-image {
    display: none;
    grid-template-rows: 25px auto 40px;
}

.shelf .draggable-item.empty {
    grid-template-rows: 25px;
}

.bottomRow {
    display: grid;
    grid-auto-flow: column;
    background-color: #34495e;
}

.bottomRow button {
    margin: 1rem;
}

video {
    width: 100%;
}

.over {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.moving {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.drop {
    -webkit-animation: drop 1s ease;
    -moz-animation: drop 1s ease;
    -ms-animation: drop 1s ease;
    -o-animation: drop 1s ease;
    animation: drop 1s ease;
}

@keyframes drop {

    0%,
    100% {
        background: #ff9933;
        color: #fff;
    }

    50% {
        color: #ff9933;
        background: #fff;
    }
}

@-moz-keyframes drop {

    0%,
    100% {
        background: #ff9933;
        color: #fff;
    }

    50% {
        color: #ff9933;
        background: #fff;
    }
}

@-webkit-keyframes drop {

    0%,
    100% {
        background: #ff9933;
        color: #fff;
    }

    50% {
        color: #ff9933;
        background: #fff;
    }
}

@-ms-keyframes drop {

    0%,
    100% {
        background: #ff9933;
        color: #fff;
    }

    50% {
        color: #ff9933;
        background: #fff;
    }
}

@-o-keyframes drop {

    0%,
    100% {
        background: #ff9933;
        color: #fff;
    }

    50% {
        color: #ff9933;
        background: #fff;
    }
}

/* button.addShelf, */
/* .shelf .controls { */
/* display: none; */
/* } */